{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.project) }}
    {{ form_row(form.date) }}

     <ul class="clockingProject"
    data-index="{{ form.clockingUser|length > 0 ? form.clockingUser|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.clockingUser.vars.prototype)|e('html_attr') }}"
    ></ul> 

    {{ form_end(form) }}
    <button type="button" class="add_item_link btn btn-success" data-collection-holder-class="clockingProject">{{ 'entity.Project.AddClockingProject'|trans}}</button>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function(){

    // add new clockingProject fields
    document
        .querySelectorAll('.add_item_link')
        .forEach(btn => {
        btn.addEventListener("click", addFormToCollection)
    });

    function addFormToCollection(e) {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

        const item = document.createElement('div');

        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
            /__name__/g,
            collectionHolder.dataset.index
            );

        collectionHolder.appendChild(item);
        addTagFormDeleteLink(item);

        collectionHolder.dataset.index++;
    };


    //remove clockingProjects fields
    document
        .querySelectorAll('ul.tags li')
        .forEach((tag) => {
            addTagFormDeleteLink(tag)
        })

    function addTagFormDeleteLink(item) {
    const removeFormButton = document.createElement('button');
    removeFormButton.innerText = '{{'entity.Project.DeleteClockingProjectname'|trans}}';
    removeFormButton.setAttribute('class', 'btn btn-warning');

    item.append(removeFormButton);

    removeFormButton.addEventListener('click', (e) => {
        e.preventDefault();
        // remove the li for the clockingProejct form
        item.remove();
    });
}    
})
</script>
{% endblock %}